[submodule "External/Pearl"]
	path = platform-darwin/External/Pearl
	url = https://github.com/Lyndir/Pearl.git
[submodule "External/InAppSettingsKit"]
	path = platform-darwin/External/InAppSettingsKit
	url = https://github.com/lhunath/InAppSettingsKit.git
[submodule "External/KCOrderedAccessorFix"]
	path = platform-darwin/External/KCOrderedAccessorFix
	url = https://github.com/lhunath/KCOrderedAccessorFix.git
[submodule "External/AttributedMarkdown"]
	path = platform-darwin/External/AttributedMarkdown
	url = https://github.com/dreamwieber/AttributedMarkdown.git
[submodule "External/uicolor-utilities"]
	path = platform-darwin/External/uicolor-utilities
	url = https://github.com/lhunath/uicolor-utilities.git
[submodule "External/jrswizzle"]
	path = platform-darwin/External/jrswizzle
	url = https://github.com/jonmarimba/jrswizzle.git
[submodule "MasterPassword/Web/js/mpw-js"]
	path = platform-independent/web-js/js/mpw-js
	url = https://github.com/tmthrgd/mpw-js.git
